@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-primary: #597dff;
  /* Example from mockups, adjust later */
  --color-secondary: #eef2ff;
}

body {
  font-family: var(--font-sans);
  @apply bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-gray-100;
  /* Gray-100 */
  cursor: default;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}